body {
    margin: 0;
}

#top_nav ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.0);
}

#top_nav li {
    display: inline;
}

#top_nav a {
    padding: 0;
    text-decoration: none;
    padding: 0 8px 0 8px;
    font-family: arial, sans-serif;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.87);
}

#top_nav a:hover {
    text-decoration: underline;
}

#user_pic {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    vertical-align: middle;
    
}

.left_align {
    display: inline;
    float: left;
    text-align: center;
    padding-top: 5px;
}

.right_align {
    display: inline;
    float: right;
    text-align: center;
    
}

.space{
    height: 105px;
}

#logo {
    display: flex;
    justify-content: center;
   
}

#search {
    width: 484px;
    height: 46px;
    margin: auto;
    margin-top: 31px;
    border-radius: 25px;
    border-width: 0.5px;
    border-color: rgba(0, 0, 0, 0.15);
}


#search_ico {
    height: 21px;
    width: 20px;
    position: relative;
    bottom: 34px;
    left: 14px;
}

#voice {
    height: 20px;
    position: relative;
    left: 424px;
    bottom: 34px;
}

#grid {
    height: 20px;
    vertical-align: middle;
}

.button {
    justify-content: center;
    align-items: center;
    margin: 30px 8px;
    display: flex;
    
    border-radius: 5px;
    border: none;
}

#g_s {
    width: 135px;
    height: 37px;
    background-color: rgba(0, 0, 0, 0.03);
    color:rgba(0, 0, 0, 0.75);
    font-size: 14px;
    font-family: arial, sans-serif;
}

#i_f_l {
    width: 135px;
    height: 37px;
    background-color: rgba(0, 0, 0, 0.03);
    color: rgba(0, 0, 0, 0.75);
    font-size: 14px;
    font-family: arial, sans-serif;
}

#lang {
    font-family: arial, sans-serif;
    font-size: 13px;
    text-align: center;
    margin-top: -25px
}

#lang a {
    text-decoration: none;
}

#lang a:hover{
    text-decoration: underline;
}

#btm_nav ul {
    list-style-type: none;
    text-align: center;
    /* padding: 10px; */
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.0);
    
}

#btm_nav li {
    display: inline;
}

#btm_nav a {
    padding: 0;
    text-decoration: none;
    padding: 0 8px 0 8px;
    font-family: arial, sans-serif;
    font-size: 13px;
    color: rgb(112, 112, 112);
}

#btm_nav p {
    font-family: arial, sans-serif;
    font-size: 15px;
    padding: 10px 20px;
    color: rgb(112, 112, 112);
    border-top: 1px solid rgb(216, 216, 216);
    border-bottom: 1px solid rgb(216, 216, 216);
    margin: 0;
}

footer {
    position: fixed;
    bottom: 0;
    background-color:rgba(0, 0, 0, 0.05);
    width: 100%;
    height: 125px;
}